<% if @cart_items.present? %>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |product_id, quantity| %>
        <% product = Product.find(product_id) %>
        <tr>
          <td><%= product.product_name %></td>
          <td><%= quantity %></td>
          <td><%= number_to_currency(product.product_price * quantity) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_with(model: @order, url: process_checkout_cart_path, method: :post) do |f| %>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <!-- Other form fields -->

    <%= f.submit 'Place Order', class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
