<!-- app/views/carts/show_cart.html.erb -->
<h1>Your Cart</h1>

<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Update Quantity</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |product_id, quantity| %>
      <% product = Product.find(product_id) %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= quantity %></td>
        <td><%= product.price %></td>
        <td>
          <%= form_tag update_quantity_carts_path, method: :put do %>
            <%= hidden_field_tag :product_id, product_id %>
            <%= number_field_tag :quantity, quantity, min: 1 %>
            <%= submit_tag 'Update' %>
          <% end %>
        </td>
        <td>
          <%= button_to 'Remove', remove_from_cart_path(product_id: product_id), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Checkout', checkout_path, class: 'btn btn-primary' %>
