<div id="<%= dom_id product %>">
  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>
    <p>
    <strong>Product Description:</strong>
    <%= product.product_description %>
  </p>
  <p>
    <strong>Product price:</strong>
    <%= product.product_price %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= product.category.name %>
  </p>
  <p>
    <strong>Product color:</strong>
    <%= product.product_color %>
  </p>
  <p>
    <strong>Product size:</strong>
    <%= product.product_size %>
  </p>
  <!-- Display the uploaded product image (if available) -->
  <% if product.product_image.attached? %>
    <div>
      <strong>Product Image:</strong>
      <%= image_tag rails_blob_url(product.product_image) %>
    </div>
  <% end %>
</div>
