<!-- app/views/products/index.html.erb -->
<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<%= form_with(url: products_path, method: "get") do |form| %>
  <%= form.text_field :keyword, placeholder: "Search by keyword..." %>
  <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: true }, { class: "select2" } %>
  <%= form.submit "Search" %>
<% end %>

<%= link_to "All Products", products_path %>
<%= link_to "New Products", products_path(filter: "new") %>
<%= link_to "Recently Updated Products", products_path(filter: "recently_updated") %>

<div id="products">
  <% @products.each do |product| %>
    <div class="product">
      <h2><%= product.product_name %></h2>
      <p><strong>Price:</strong> $<%= product.product_price %></p>
      <p><strong>Category:</strong> <%= product.category.name %></p>

<%= link_to "Show this product", product %>
      <!-- Add to Cart form -->
      <%= form_with(url: add_to_cart_path, method: :post) do |form| %>
        <%= form.hidden_field :product_id, value: product.id %>
        <%= form.submit "Add to Cart" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
<%= paginate @products %>

