<!-- app/views/products/index.html.erb -->
<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<%= form_with(url: products_path, method: "get") do |form| %>
  <%= form.text_field :keyword, placeholder: "Search by keyword..." %>
  <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: true }, { class: "select2" } %>
  <%= form.submit "Search" %>
<% end %>

<%= link_to "All Products", products_path %>
<%= link_to "New Products", products_path(filter: "new") %>
<%= link_to "Recently Updated Products", products_path(filter: "recently_updated") %>


<% @products.each do |product| %>
  <div class="product">
<%= render partial: 'product_row', locals: { product: product } %>
    <!-- Add to Cart form -->
    <%= form_tag add_to_cart_path, method: :post do %>
      <%= hidden_field_tag :product_id, product.id %>
      <%= link_to "Show this product", product %>

      <%= submit_tag 'Add to Cart' %>
    <% end %>
  </div>
<% end %>



<%= link_to "New product", new_product_path %>
<%= paginate @products %>

